frontend/node_modules/
backend/node_modules/
node_modules

# Dependencies
node_modules/

# Environment variables (DO NOT expose API keys or secrets)
.env



# Editor and IDE configurations
.vscode/


